In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('developer/survey_results_public.csv',index_col = 'Respondent')
schema_df = pd.read_csv('developer/survey_results_schema.csv',index_col='Column')

In [4]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [5]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [6]:
df['ConvertedComp'].head(15)

Respondent
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8     116000.0
9          NaN
10     32315.0
11     40070.0
12     14268.0
13     38916.0
14     66000.0
15         NaN
Name: ConvertedComp, dtype: float64

In [7]:
df['ConvertedComp'].median()

54049.0

In [8]:
df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [9]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [10]:
 df['ConvertedComp'].count() #non nan values

34756

In [11]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [12]:
df['Hobbyist'].value_counts(normalize=True)*100 #%

Yes    78.222802
No     21.777198
Name: Hobbyist, dtype: float64

In [13]:
schema_df

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [14]:
schema_df.loc['OpSys']

QuestionText    What is the primary operating system in which ...
Name: OpSys, dtype: object

In [15]:
df['OpSys'].value_counts(normalize=True)*100

Windows        48.321121
Linux-based    26.556164
MacOS          25.032013
BSD             0.090702
Name: OpSys, dtype: float64

In [16]:
#group by combinations:
#split #applyfunction #combining results

In [17]:
 country_group = df.groupby(['Country'])

In [18]:
 country_group #DataFrameGroupBy

In [19]:
 country_group.get_group('Nepal') #like a filter ##filt = df['Country'] == 'Nepal' # df.loc[filt]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
173,I am a developer by profession,Yes,26.0,13,Monthly,NaN,NaN,Nepal,Nepalese rupee,NPR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;React.js,ASP.NET;ASP.NET Core;jQuery;Laravel;Vue.js,Just as welcome now as I felt last year,60.0,7,5
275,I am a developer by profession,No,NaN,18,NaN,NaN,NaN,Nepal,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js;Express;Spring;Vue.js,Spring;Vue.js,Somewhat more welcome now than last year,NaN,6,NaN
623,I code primarily as a hobby,Yes,18.0,12,NaN,NaN,NaN,Nepal,NaN,NaN,...,Easy,Appropriate in length,No,NaN,ASP.NET;ASP.NET Core;jQuery;Laravel;React.js;R...,NaN,Somewhat less welcome now than last year,NaN,3,NaN
807,I am a developer by profession,Yes,34.0,26,Monthly,50000.0,5256.0,Nepal,Nepalese rupee,NPR,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",Django;Flask,Express;React.js;Ruby on Rails;Vue.js,Just as welcome now as I felt last year,9.0,10,10
1355,I am a developer by profession,Yes,26.0,15,Monthly,50000.0,5256.0,Nepal,Nepalese rupee,NPR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;Vue.js,Django;Express;Vue.js,Just as welcome now as I felt last year,45.0,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64711,I am a developer by profession,Yes,19.0,16,NaN,NaN,NaN,Nepal,NaN,NaN,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",Django;Flask;jQuery;React.js,Django;Flask;jQuery;React.js,Just as welcome now as I felt last year,NaN,3,NaN
65064,I am a developer by profession,Yes,NaN,17,NaN,NaN,NaN,Nepal,Nepalese rupee,NPR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,40.0,9,2
65171,I am a developer by profession,Yes,NaN,20,NaN,NaN,NaN,Nepal,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,3,1
65179,I am a student who is learning to code,No,NaN,NaN,NaN,NaN,NaN,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63820,NaN,Yes,NaN,17,NaN,NaN,NaN,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,A lot less welcome now than last year,NaN,3,NaN

In [29]:
 country_group.get_group('Nepal')
type( country_group.get_group('Nepal'))

pandas.core.frame.DataFrame

In [30]:
d = country_group.get_group('Nepal')

In [31]:
c=d['CurrencyDesc'].value_counts() #currency type for survey candids of group country nepal
c

Nepalese rupee          118
United States dollar     11
Indian rupee              2
Australian dollar         1
Serbian dinar             1
Name: CurrencyDesc, dtype: int64

In [32]:
c.median() 
d['CurrencyDesc'].value_counts(normalize=True)*100

Nepalese rupee          88.721805
United States dollar     8.270677
Indian rupee             1.503759
Australian dollar        0.751880
Serbian dinar            0.751880
Name: CurrencyDesc, dtype: float64

In [24]:
d['Trans'].value_counts() #for nepal trans memebers of group country nepal

No     168
Yes      2
Name: Trans, dtype: int64

In [25]:
df['Trans'].value_counts()

No     48871
Yes      474
Name: Trans, dtype: int64

In [26]:
c.loc['Nepalese rupee']

118

In [27]:
country_group = df.groupby(['Country'])
cf = 
#f=country_group.get_group('Nepal')
#cg=country_group['ConvertedComp'].agg(['median','mean','count']) #for nepal only f['ConvertedComp']............

SyntaxError: invalid syntax (<ipython-input-27-f09ae52dd289>, line 2)

In [ ]:
cg.loc['Nepal'] #82 are from nepal

In [ ]:
#tried myself to convert %of python users from different countries
#gh=country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
#g=pd.DataFrame(gh)
#type(g)
#g

In [ ]:
#z=g['LanguageWorkedWith'].value_counts(normalize=True)*100
#z

In [ ]:
##finished

In [33]:
country_respondents = df['Country'].value_counts()
country_respondents

United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
                  ...
Mali                  1
Fiji                  1
Liechtenstein         1
Chad                  1
Gabon                 1
Name: Country, Length: 183, dtype: int64

In [34]:
country_uses_python=country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [35]:
python_df= pd.concat([country_respondents,country_uses_python], axis = 'columns',sort = False)
python_df

                Country  LanguageWorkedWith
United States     12469                5964
India              8403                2670
United Kingdom     3896                1621
Germany            3890                1712
Canada             2191                1011
...                 ...                 ...
Mali                  1                   0
Fiji                  1                   0
Liechtenstein         1                   0
Chad                  1                   0
Gabon                 1                   1

[183 rows x 2 columns]

In [ ]:
python_df.rename(columns = {'Country': 'NumRespondents','LanguageWorkedWith':'NumKnowsPython'},inplace = True)

In [ ]:
python_df

In [ ]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']*100)

In [ ]:
python_df.sort_values(by = 'PctKnowsPython',ascending = False,inplace = True)

In [ ]:
python_df.head(25)